.chat-page-container {
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 10% 78% 12%;
    gap: 0.1rem;
    overflow: hidden;
}


.chat-page-container .chat-header {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.2rem;
}

.chat-page-container .chat-header .user-details {
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.chat-page-container .chat-header .user-details .avatar img {
    height: 3rem;
}

.chat-page-container .chat-header .user-details .username h3 {
    color: white;
}


/* ////////////////////////////////////////chat-message////////////////////////////////////////////////// */


.chat-page-container .chat-messages {
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    background-image: url("https://1.bp.blogspot.com/-BqyLwDjzgtc/X1Dinb86T0I/AAAAAAAAaek/hcR7gfjykxkOHXYynBxcvb3-WQDVTgOugCLcBGAsYHQ/w439-h781/wallpaper-4k-heroscreen.png");
    /* background-repeat: no-repeat; */
}

.chat-page-container .chat-messages .message {
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.chat-page-container .chat-messages .sended {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


.chat-page-container .chat-messages .recieved {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


.chat-page-container .chat-messages .message .content {
    max-width: 40%;
    overflow-wrap: break-word;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    color: #d1d1d1;
}

.chat-page-container .chat-messages .recieved .content {
    background-color: #4f04ff8f;
}


.chat-page-container .chat-messages .sended .content {
    background-color: #9900ff9c;
}






@media screen and (min-width: 720px) and (max-width: 1080px){
    .chat-page-container {
        grid-auto-rows: 15% 70% 15%;
    }
}
