.chat-input-container{
    display: grid;
    grid-template-columns: 5% 95%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    padding: 1.2rem;
}

.chat-input-container .emoji-box img {
    width: 1.5rem;
    cursor: pointer;
    position: relative;
}

aside.EmojiPickerReact.epr-main {
    position: absolute !important;
    bottom: 4rem;
}


.chat-input-container .input-form {
    display: flex;
}



.chat-input-container .input-form input {
    width: 90%;
    background-color: white;
    color: #111b21;
    border: none;
    border-radius: 0.6rem 0rem 0rem 0.6rem;
    font-size: 1rem;
    padding: 0.6rem;
}

.chat-input-container .input-form input:focus {
    outline: none;
}


.chat-input-container .input-form button {
    padding: 0.3rem 1.1rem;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #9a86f3;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 480px){
    .chat-input-container{
        grid-template-columns: 10% 90%;
        padding: 0.5rem;
    }
    aside.EmojiPickerReact.epr-main {
        bottom: 4.4rem;
    }
}

