.welcome-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
}


.welcome-container img {
    height: 12rem;
}

.welcome-container h1 {
    color: #2196f3;
}

.welcome-container span {
    color: #1565c0;
}

.welcome-container h3 {
    color: #2196f3;
}
